body{
	background-image: url("https://unsplash.com/photos/yKRdX-kY8TE");
	height: 100%;
	background-size: cover;
}

.navbar {
	font-family: 'Montserrat', sans-serif;
	margin-top: 3em;
	border: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color: white;
		color: black;
}

.navbar-default {
	.navbar-brand,
	.navbar-nav>li>a {
    color: black;
		
	}
	.navbar-brand {
		font-weight: 700;
		font-size: 1.25em;
		letter-spacing: 3px;
	}
}

.container-fluid {
	background-color: #fff;
}

.navbar-toggle {
	border: none;
}

.icon-bar {
	// color: black;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

ul{
	float: right;
}

